<!DOCTYPE html>
{% load static %}
{% load basecart_extras %}
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<head>
	<title>Product Details:{{ object.name }}</title>
	<style type="text/css">
		input{
			width:10px;
		}
	</style>
</head>
<body>
	<div class="headline">
		<ul>
			<li class="slinefont">
				<font class="slinefont"> <font color=red>
				Q</font>Bcart </font>
			</li>
			<li class="normal-li">
				<a href="{%url 'index' %}">
					<font class="linefont"> Home </font>
				</a>
			</li>
			{%if user.is_authenticated %}
			<li class="normal-li">
				<a href="{%url 'viewcart' %}">
					<font class="linefont"> Cart( {% items_in_cart user.id %} ) </font>
				</a>
			</li>
			<li class="normal-li">
				<a href="{%url 'vieworder' %}">
					<font class="linefont"> My Orders </font>
				</a>
			</li>
			{% if user.role == 'SL' %}
			<li class="normal-li">
				<a href="{% url 'myproducts'%}">
					<font class="linefont"> My Products </font>
				</a>
			</li>
			<li class="normal-li">
				<a href="{% url 'addproduct' %}">
					<font class="linefont"> Add Product </font>
				</a>
			</li>
			{%endif%}
			{% if user.username == 'admin' %}
			<li class="normal-li">
				<a href="{%url 'cartuseradmin'%}">
					<font class="linefont"> Admin Page </font>
				</a>
			</li>
			{%endif%}
			<li class="fa fa-user fa-lg">
				<a href="">
					<font class="linefont">{{user}} </font>
					<div class="dropdown">
					<a href="{% url 'logout' %}">
						<font class="logout">Logout</font>
					</a>
				</div>
				</a>
			</li>
			{%else%}
			<li class="fa fa-user fa-lg">
				<a href="{% url 'login' %}">
					<font class="Llinefont"> Login </font>
				</a>
				<font class="linefont"> or </font>
				<a href="{% url 'signup' %}">
					<font class="Llinefont"> Sign Up </font>
				</a>
			</li>
			{%endif%}
		</ul>
	</div>
	<div class="items">
	<div class="detailbox">
		<div class="detailtitle">
		<h2>{{ product.name }}</h2>
		</div>
		<div class="image-container">
			<img src="{{ object.photo.url }}" class="img-responsive">
		</div>
		<div class="detail-container">
			<b>Description:</b>
			{{ object.description }}
		</div>
		<div class="detailprice">
			<div class="pricetext">Rs.{{object.cost}}</div>
		</div>
		{%if user.is_authenticated %}
		<form class="detail-form" action="{% url 'index' %}">
			<input type="hidden" name="addcart" value="{{product.id}}">
			Select Quantity:<input type="text" name="qty" value="1">
			<input type="hidden" name="key" value="{{object.set_product_key}}">
			<div class="detail-btn-tab">
				<button class="detail-btn" type="submit">Add to Cart</button>
			</div>
		</form>
		{%else%}
		<form class="detail-form" action="{% url 'login' %}">
			<div class="detail-btn-tab">
				<button class="detail-btn" type="submit">Add to Cart</button>
			</div>
		</form>
		{%endif%}
	</div>
	</div>
	<div class="bottomline">
		<font class="blinefont">Copy Right © 2018 All Rights Reserved</font>
	</div>
</body>
</html>
